* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 
     'header header header'auto
    'left-menu middle-menu right-menu' 1fr /
     1fr 1fr 1fr;
}

.header {
background-color: white;
grid-area: header;
display: grid;
grid-template-columns: auto 1fr auto;
gap: 3rem;
padding: 0.5rem 1rem;
}

button {
    background: none;
    border: none;
}
.header button span {
    font-size: 1.5rem;
    color: blue;
}

.header__left-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}

.header__search {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.search-side {
    background-color: #f0f3f4;
    display: grid;
    place-items: center;
    padding: 3px;
    color: rgb(142, 142, 142);

}

.header__search__search-icon {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} 

.header__search__search-icon span {
    font-size: 1.2rem;
}

.header__search__bar {
    border: none;
    background-color: #f0f3f4;
    padding: 0rem 0.5rem;
    font-size: 1rem;
}

.header__search__expand {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header__search__expand span {
    font-size: 1.2rem;
}
.header__middle-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}

.header__right-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}

.header__right-menu__profile {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 2px 5px;
}

.header__right-menu__profile .container {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 0.5rem;  
}

.header__right-menu__profile .name {
    font-size: 1rem;
}

.header__right-menu__profile img {
    border-radius: 50%;
}
.facebook-logo {
    width: 40px;
}

.left-menu {
   
    grid-area: left-menu;
    display: grid;
}

.left-menu__navigation {
    padding: 0.5rem 0rem
}

.left-menu__items {
    list-style: none;
    padding-right: 20rem;
    display: grid;
    grid: 0.5rem;
}

.left-menu__item__link {
    text-decoration: initial;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0.2rem 1rem;
    align-items: center;
    gap: 0.5rem;
} 

.middle-menu {
    background-color: brown;
    grid-area: middle-menu;
}

.right-menu {
    background-color: aqua;
    grid-area: right-menu;
}