* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 
     'header header header'auto
    'left-menu middle-menu right-menu' 1fr /
     1fr 1fr 1fr;
}

.header {
background-color: white;
grid-area: header;
display: grid;
grid-template-columns: auto 1fr auto;
gap: 3rem;
padding: 0.5rem 1rem;
}

button {
    background: none;
    border: none;
}

.header__left-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}

.header__middle-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}

.header__right-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}

.facebook-logo {
    width: 40px;
}

.left-menu {
   
    grid-area: left-menu;
    display: grid;
}

.left-menu__navigation {
    padding: 0.5rem 0rem
}

.left-menu__items {
    list-style: none;
    padding-right: 1rem;
    display: grid;
    grid: 0.5rem;
}

.left-menu__item__link {
    text-decoration: initial;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0.2rem 1rem;
    border-top-right-radius: 20px;
    align-items: center;
    gap: 0.2rem;
} 

.middle-menu {
    background-color: brown;
    grid-area: middle-menu;
}

.right-menu {
    background-color: aqua;
    grid-area: right-menu;
}